<a href="https://colab.research.google.com/github/chitran19/Mediacal_appoitment_no_shows/blob/main/medical_apointments__no_show.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/KaggleV2-May-2016.csv')
df.sample(50)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
29392,6.693888e+12,5749524,F,2016-05-31T07:54:57Z,2016-05-31T00:00:00Z,32,CRUZAMENTO,0,0,0,0,0,0,No
97612,8.656935e+14,5706431,F,2016-05-17T08:18:45Z,2016-06-08T00:00:00Z,81,SANTO ANTÔNIO,0,1,0,0,0,0,No
56804,2.429778e+12,5656117,F,2016-05-04T07:38:11Z,2016-05-10T00:00:00Z,19,ILHA DO PRÍNCIPE,0,0,0,0,0,1,No
109029,6.684488e+13,5789028,F,2016-06-08T14:06:14Z,2016-06-08T00:00:00Z,52,BENTO FERREIRA,0,0,0,0,0,0,No
56951,2.981538e+12,5718076,M,2016-05-19T08:52:57Z,2016-05-19T00:00:00Z,2,TABUAZEIRO,0,0,0,0,0,0,No
14132,4.474674e+14,5660651,M,2016-05-04T17:11:37Z,2016-05-12T00:00:00Z,50,SÃO CRISTÓVÃO,0,0,0,0,0,1,No
83282,4.212729e+13,5620280,F,2016-04-26T08:51:50Z,2016-05-04T00:00:00Z,48,ITARARÉ,0,1,0,0,0,1,No
20963,9.722672e+11,5603367,F,2016-04-19T19:53:07Z,2016-05-04T00:00:00Z,41,RESISTÊNCIA,0,0,0,0,0,1,Yes
51271,9.715136e+12,5681124,F,2016-05-10T13:36:24Z,2016-05-10T00:00:00Z,12,ROMÃO,0,0,0,0,0,0,No
71470,9.665658e+12,5722701,F,2016-05-20T07:34:34Z,2016-05-25T00:00:00Z,60,REDENÇÃO,0,1,0,1,0,1,Yes
1946,5.736697e+12,5486636,M,2016-03-18T07:42:26Z,2016-04-29T00:00:00Z,20,TABUAZEIRO,1,0,0,0,0,1,Yes
77225,9.282192e+13,5663873,F,2016-05-05T10:41:35Z,2016-05-18T00:00:00Z,45,BELA VISTA,1,0,0,0,0,0,Yes
72794,9.813400e+13,5672075,F,2016-05-09T07:35:14Z,2016-05-09T00:00:00Z,33,ANDORINHAS,0,0,0,0,0,0,No
50107,9.949649e+14,5634862,M,2016-04-28T11:52:49Z,2016-05-20T00:00:00Z,58,JARDIM DA PENHA,0,0,0,0,0,0,No
9911,1.533254e+12,5730954,M,2016-05-24T09:21:46Z,2016-05-24T00:00:00Z,12,ROMÃO,0,0,0,0,0,0,No
68367,6.282740e+14,5669108,F,2016-05-06T10:21:03Z,2016-05-06T00:00:00Z,2,MARIA ORTIZ,0,0,0,0,0,0,No
9766,2.965549e+13,5690382,F,2016-05-12T09:57:55Z,2016-05-18T00:00:00Z,84,CARATOÍRA,0,1,1,1,0,0,No
62855,7.761824e+12,5655549,F,2016-05-03T18:13:20Z,2016-05-03T00:00:00Z,40,JARDIM CAMBURI,0,0,0,0,0,0,No
39847,5.666533e+13,5655798,F,2016-05-04T07:13:30Z,2016-05-06T00:00:00Z,3,CARATOÍRA,0,0,0,0,0,0,No
84628,8.645737e+13,5716093,M,2016-05-18T15:51:05Z,2016-06-07T00:00:00Z,73,JABOUR,0,0,0,0,0,1,No
16032,3.193265e+13,5659884,F,2016-05-04T14:59:28Z,2016-05-11T00:00:00Z,12,NOVA PALESTINA,0,0,0,0,0,1,Yes
68190,5.826138e+12,5545413,M,2016-04-05T13:58:19Z,2016-05-03T00:00:00Z,73,ANDORINHAS,0,1,1,0,0,0,No
101306,6.881144e+14,5685646,F,2016-05-11T10:49:21Z,2016-06-07T00:00:00Z,25,DO MOSCOSO,0,0,0,0,0,1,No
78056,6.982459e+13,5694169,F,2016-05-13T08:15:26Z,2016-05-17T00:00:00Z,25,JOANA D´ARC,0,0,0,0,0,0,No
79368,3.822836e+13,5619532,F,2016-04-26T08:05:31Z,2016-05-18T00:00:00Z,65,DA PENHA,0,1,0,0,0,0,No
65678,5.349753e+12,5737894,F,2016-05-25T10:11:48Z,2016-05-25T00:00:00Z,0,JARDIM CAMBURI,0,0,0,0,0,0,No
33256,1.617424e+14,5574037,M,2016-04-12T14:01:05Z,2016-05-12T00:00:00Z,56,JOANA D´ARC,0,1,0,0,0,0,Yes
49985,2.342840e+12,5594539,F,2016-04-18T10:52:35Z,2016-05-13T00:00:00Z,54,JARDIM DA PENHA,0,0,0,0,0,0,Yes
29538,3.679249e+14,5675275,F,2016-05-09T13:27:46Z,2016-05-20T00:00:00Z,29,ROMÃO,0,0,0,0,0,0,Yes
79783,4.244317e+14,5702881,M,2016-05-16T13:10:49Z,2016-05-16T00:00:00Z,59,ILHA DAS CAIEIRAS,0,1,1,0,0,0,No
53501,8.829536e+12,5717445,M,2016-05-19T07:57:46Z,2016-05-19T00:00:00Z,2,ILHA DO PRÍNCIPE,0,0,0,0,0,0,Yes
51378,6.875495e+11,5691109,F,2016-05-12T11:22:55Z,2016-05-24T00:00:00Z,22,MARIA ORTIZ,0,0,0,0,0,1,Yes
23479,4.394440e+11,5540488,F,2016-04-05T07:06:09Z,2016-05-02T00:00:00Z,43,VILA RUBIM,0,0,0,0,1,1,No
74482,7.974917e+12,5729241,F,2016-05-24T07:20:31Z,2016-05-31T00:00:00Z,66,JARDIM CAMBURI,0,0,0,0,0,1,Yes
54892,2.894760e+11,5670664,M,2016-05-06T14:21:45Z,2016-05-06T00:00:00Z,44,RESISTÊNCIA,0,0,0,0,0,0,No
9001,2.517838e+12,5680089,F,2016-05-10T11:04:13Z,2016-05-18T00:00:00Z,39,BELA VISTA,0,1,1,0,0,0,No
59571,3.211896e+13,5754530,F,2016-05-31T16:25:37Z,2016-05-31T00:00:00Z,7,SÃO JOSÉ,0,0,0,0,0,0,No
62117,6.485731e+12,5681677,F,2016-05-10T14:56:29Z,2016-05-10T00:00:00Z,87,SOLON BORGES,0,0,0,0,1,0,No
8027,1.769383e+13,5686200,M,2016-05-11T12:24:49Z,2016-05-13T00:00:00Z,0,JESUS DE NAZARETH,0,0,0,0,0,0,No
10175,9.148329e+14,5671693,M,2016-05-09T07:03:09Z,2016-05-31T00:00:00Z,18,CRUZAMENTO,0,0,0,0,0,1,No
99044,8.568268e+13,5762926,M,2016-06-02T08:22:12Z,2016-06-07T00:00:00Z,34,PRAIA DO SUÁ,0,0,0,1,0,1,Yes
78625,1.922482e+13,5713175,M,2016-05-18T09:49:21Z,2016-05-18T00:00:00Z,2,BONFIM,0,0,0,0,0,0,No
45013,7.876944e+12,5749726,M,2016-05-31T08:09:05Z,2016-05-31T00:00:00Z,57,SANTO ANTÔNIO,0,0,1,1,0,0,No
60129,9.869463e+14,5635155,F,2016-04-28T12:51:53Z,2016-05-17T00:00:00Z,51,CENTRO,0,0,0,0,0,0,No
63135,2.536751e+12,5411730,M,2016-03-01T07:58:30Z,2016-05-03T00:00:00Z,44,JARDIM CAMBURI,0,0,0,0,0,1,No
62351,1.133599e+14,5567194,F,2016-04-11T11:49:53Z,2016-05-11T00:00:00Z,48,MARIA ORTIZ,0,1,0,0,0,1,No
1714,2.354768e+14,5620488,F,2016-04-26T09:06:00Z,2016-04-29T00:00:00Z,24,JABOUR,0,0,0,0,0,1,Yes
52162,9.578226e+14,5720273,M,2016-05-19T13:35:44Z,2016-05-24T00:00:00Z,37,SANTA MARTHA,0,1,0,0,0,1,No
61125,4.839345e+13,5525700,F,2016-03-30T09:38:57Z,2016-05-16T00:00:00Z,18,SANTA MARTHA,0,0,0,0,0,0,No
40636,1.189897e+12,5636058,F,2016-04-28T14:28:49Z,2016-05-25T00:00:00Z,12,SÃO JOSÉ,0,0,0,0,0,0,Yes

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [ ]:
df['AppointmentDay'] =  pd.to_datetime(df['AppointmentDay'], utc=True)
df['ScheduledDay'] =  pd.to_datetime(df['ScheduledDay'], utc=True)

df['AppointmentDay'] = df['AppointmentDay'].dt.date
df['ScheduledDay'] = df['ScheduledDay'].dt.date

df['PatientId'] = df['PatientId'].astype(int).astype(str)
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,29872499824296,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,558997776694438,5642503,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4262962299951,5642549,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,867951213174,5642828,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8841186448183,5642494,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [ ]:
print(df['Gender'].unique())
print(df['Scholarship'].unique())
print(df['Hipertension'].unique())
print(df['Diabetes'].unique())
print(df['Alcoholism'].unique())
print(df['Handcap'].unique())
print(df['SMS_received'].unique())
print(df['No-show'].unique())

['F' 'M']
[0 1]
[1 0]
[0 1]
[0 1]
[0 1 2 3 4]
[0 1]
['No' 'Yes']

In [ ]:
pd.set_option("display.max_rows", None)
df.groupby('Neighbourhood')['PatientId'].count()

Neighbourhood
AEROPORTO                         8
ANDORINHAS                     2262
ANTÔNIO HONÓRIO                 271
ARIOVALDO FAVALESSA             282
BARRO VERMELHO                  423
BELA VISTA                     1907
BENTO FERREIRA                  858
BOA VISTA                       312
BONFIM                         2773
CARATOÍRA                      2565
CENTRO                         3334
COMDUSA                         310
CONQUISTA                       849
CONSOLAÇÃO                     1376
CRUZAMENTO                     1398
DA PENHA                       2217
DE LOURDES                      305
DO CABRAL                       560
DO MOSCOSO                      413
DO QUADRO                       849
ENSEADA DO SUÁ                  235
ESTRELINHA                      538
FONTE GRANDE                    682
FORTE SÃO JOÃO                 1889
FRADINHOS                       258
GOIABEIRAS                      700
GRANDE VITÓRIA                 1071
GURIGICA                       2018
HORTO                           175
ILHA DAS CAIEIRAS              1071
ILHA DE SANTA MARIA            1885
ILHA DO BOI                      35
ILHA DO FRADE                    10
ILHA DO PRÍNCIPE               2266
ILHAS OCEÂNICAS DE TRINDADE       2
INHANGUETÁ                     1057
ITARARÉ                        3514
JABOUR                         2509
JARDIM CAMBURI                 7717
JARDIM DA PENHA                3877
JESUS DE NAZARETH              2853
JOANA D´ARC                    1427
JUCUTUQUARA                     694
MARIA ORTIZ                    5805
MARUÍPE                        1902
MATA DA PRAIA                   644
MONTE BELO                      824
MORADA DE CAMBURI                96
MÁRIO CYPRESTE                  371
NAZARETH                        135
NOVA PALESTINA                 2264
PARQUE INDUSTRIAL                 1
PARQUE MOSCOSO                  802
PIEDADE                         452
PONTAL DE CAMBURI                69
PRAIA DO CANTO                 1035
PRAIA DO SUÁ                   1288
REDENÇÃO                       1553
REPÚBLICA                       835
RESISTÊNCIA                    4431
ROMÃO                          2215
SANTA CECÍLIA                   448
SANTA CLARA                     506
SANTA HELENA                    178
SANTA LUÍZA                     428
SANTA LÚCIA                     438
SANTA MARTHA                   3131
SANTA TEREZA                   1332
SANTO ANDRÉ                    2571
SANTO ANTÔNIO                  2746
SANTOS DUMONT                  1276
SANTOS REIS                     547
SEGURANÇA DO LAR                145
SOLON BORGES                    469
SÃO BENEDITO                   1439
SÃO CRISTÓVÃO                  1836
SÃO JOSÉ                       1977
SÃO PEDRO                      2448
TABUAZEIRO                     3132
UNIVERSITÁRIO                   152
VILA RUBIM                      851
Name: PatientId, dtype: int64

In [31]:
duplicates = df[df['AppointmentID'].duplicated() == True]
print(duplicates)

Empty DataFrame
Columns: [PatientId, AppointmentID, Gender, ScheduledDay, AppointmentDay, Age, Neighbourhood, Scholarship, Hipertension, Diabetes, Alcoholism, Handcap, SMS_received, No-show]
Index: []

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  object
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: int64(8), object(6)
memory usage: 11.8+ MB